# This is our final project, it will be divided into 3 sections representing the 3 datasets that we will be working with (2small & 1big dataset)

# Outline

What problem and data sets did you work on?
○ What are the important ideas/methods you explored?
○ What ideas from the class did you use?
○ Reporting the results (cross-validation, easy-to-read figures, etc)
○ Do the results make sense?
○ If you had much more time, how would you continue the project?

## What problem and data sets did you work on?

## What are the important ideas/methods you explored?

## What ideas from the class did you use?

## Reporting the results (cross-validation, easy-to-read figures, etc)

## Do the results make sense?

## If you had much more time, how would you continue the project?

# All libraries and functions needed to perform regression and classification

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import optimize
import scipy.optimize as opt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline


def sigmoid(z):
    return 1.0 / (1 + np.exp(-z))
    
def cost(theta, X, y):
    theta = np.matrix(theta) # make sure theta is a column or row vector! 
    X = np.matrix(X)
    y = np.matrix(y)
    out = sigmoid(X*theta.T)
    
    # first part of the cost function
    first = np.multiply(-y,np.log(out))
    
    # second part of cost function 
    second = np.multiply((1-y),np.log(1-out))
    return np.sum(first - second) / (len(X))

def gradient(theta, X, y):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    
    parameters = int(theta.ravel().shape[1])
    grad = np.zeros(parameters)
    
    error = sigmoid(X * theta.T) - y
    
    # find each entry of the gradient vector
    for i in range(parameters):
        term = np.multiply(error, X[:,i])
        grad[i] = np.sum(term)
    
    return grad

ModuleNotFoundError: No module named 'seaborn'

## Dataset 1 (Small Dataset)

In [ ]:
# SVM for dataset wine

from sklearn.datasets import load_wine
from sklearn import svm
from sklearn.svm import SVC
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

# features, target = load_wine(return_X_y=True)
data = load_wine()
#print(data)
df = pd.DataFrame(data=data['data'],columns=data['feature_names'])
df['target']=data['target']
df.head()

In [ ]:

df['class']=df['target'].map(lambda ind: data['target_names'][ind])
x = df['alcohol']
y = df['malic_acid']

first_x = x[df['class'] == 'class_0']
first_y = y[df['class'] == 'class_0']

second_x = x[df['class'] == 'class_1']
second_y = y[df['class'] == 'class_1']

third_x = x[df['class'] == 'class_2']
third_y = y[df['class'] == 'class_2']

first = plt.scatter(first_x,first_y,marker='x',color='green')
second = plt.scatter(second_x,second_y,marker='*',color='red')
third = plt.scatter(third_x,third_y,marker='+',color='blue')
plt.title('malic_acid vs alcohol')
plt.legend((first, second, third), ('class 0', 'class 1', 'class 2'))
plt.xlabel('alcohol')
plt.ylabel('malic_acid')
plt.show()

In [ ]:

x = df['alcohol']
y = df['total_phenols']

first_x = x[df['class'] == 'class_0']
first_y = y[df['class'] == 'class_0']

second_x = x[df['class'] == 'class_1']
second_y = y[df['class'] == 'class_1']

third_x = x[df['class'] == 'class_2']
third_y = y[df['class'] == 'class_2']

first = plt.scatter(first_x,first_y,marker='x',color='green')
second = plt.scatter(second_x,second_y,marker='*',color='red')
third = plt.scatter(third_x,third_y,marker='+',color='blue')
plt.title('alcohol vs total_phenols')
plt.legend((first, second, third), ('class 0', 'class 1', 'class 2'))
plt.xlabel('alcohol')
plt.ylabel('total_phenols')
plt.show()

In [ ]:
x = df['alcohol']
y = df['ash']

first_x = x[df['class'] == 'class_0']
first_y = y[df['class'] == 'class_0']

second_x = x[df['class'] == 'class_1']
second_y = y[df['class'] == 'class_1']

third_x = x[df['class'] == 'class_2']
third_y = y[df['class'] == 'class_2']

first = plt.scatter(first_x,first_y,marker='x',color='green')
second = plt.scatter(second_x,second_y,marker='*',color='red')
third = plt.scatter(third_x,third_y,marker='+',color='blue')
plt.title('alcohol vs total_phenols')
plt.legend((first, second, third), ('class 0', 'class 1', 'class 2'))
plt.xlabel('alcohol')
plt.ylabel('total_phenols')
plt.show()

In [ ]:
from sklearn.decomposition import PCA

target = df['class']
dropDf = df
df = dropDf.drop(['class'],axis=1)
x_train, x_test, y_train, y_test = train_test_split(df, target, train_size=0.9)
x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

pca = PCA(n_components=2).fit(x_train)
pca_2d = pca.transform(x_train)

clf = SVC(kernel='linear')
clf.fit(x_train,y_train)
svmClassifier_2d = clf.fit(x_train,y_train)

for i in range(0, pca_2d.shape[0]):
    if y_train[i] == 0:
        c1 = pl.scatter(pca_2d[i,0],pca_2d[i,1],c='r',    s=50,marker='+')
    elif y_train[i] == 1:
        c2 = pl.scatter(pca_2d[i,0],pca_2d[i,1],c='g',    s=50,marker='o')
    elif y_train[i] == 2:
        c3 = pl.scatter(pca_2d[i,0],pca_2d[i,1],c='b',    s=50,marker='*')

y_pred = clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

In [ ]:
# Plot Decision Region using mlxtend's awesome plotting function
plot_decision_regions(X=dropDf.values, 
                      y=target.values,
                      clf=clf, 
                      legend=2)

# Update plot object with X/Y axis labels and Figure Title
plt.xlabel(X.columns[0], size=14)
plt.ylabel(X.columns[1], size=14)
plt.title('SVM Decision Region Boundary', size=16)

## Dataset 2 (Small Dataset)

We chose *nameofthedataset* for the second part

## Dataset 3 (Large Dataset)

We chose *nameofthedataset* for the third part

In [3]:
data = pd.read_csv('crime.csv',encoding='windows-1252')
data.head()

C:\Users\Nadim_AbouChakra\AppData\Roaming\Python\Python36\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,NaN,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,NaN,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,NaN,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,NaN,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,NaN,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.375258,-71.024663,"(42.37525782, -71.02466343)"